<%= render 'layouts/admin' %>

<div class="container">
  <div class="row">
    <div class="col-10 offset-2">
      <h2>管理者ログイン</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="row">
        <div class="col-2 offset-3">
          <%= f.label :email , "メールアドレス" %><br />
        </div>
        <div clsss="col-7">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:"sample.example.com"%>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row">
        <div class="col-2 offset-3">
          <%= f.label :password , "パスワード" %><br />
        </div>
        <div class="col-7">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <div class="row">
        <div class="col-7 offset-5">
          <%= f.submit "ログイン" , class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>

  <!--<%= render "admin/shared/links" %>-->
</div>