<header>
  <div class="container">
    <% if admin_admin_signed_in? %>
          <!--管理者ログイン後-->
      <div class="row">
        <div class="col-2">
          LOGO
        </div>
        <div class="col-2">
          <%= link_to "商品一覧" , admin_items_path , class: "btn btn-default" %>
        </div>
        <div class="col-2">
          <%= link_to "会員一覧" , admin_customers_path , class: "btn btn-default" %>
        </div>
        <div class="col-2">
          <%= link_to "注文一覧画面" , admin_root_path , class: "btn btn-default" %>
        </div>
        <div class="col-2">
          <%= link_to "ジャンル一覧" , admin_genres_path , class: "btn btn-default" %>
        </div>
        <div class="col-2">
          <%= link_to "ログアウト" , destroy_admin_admin_session_path , method: :delete , class: "btn btn-default" %>
        </div>
      </div>
      <div class="row">
        <div class="col-4 offset-8">
          <%= form_tag (root_path) do %>
            <%= text_field_tag :name , "" , placeholder:"Search" %>
            <%= button_tag :type => "submit" do %>
              <i class="fas fa-search" style="transform:scaleX(-1); , display:inline-block;"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <!--ログイン前-->
        <div class="col-4">
          LOGO
        </div>
        <div class="col-2">
          <%= link_to "About" , about_path , class: "btn btn-default" %>
        </div>
        <div class="col-2">
          <%= link_to "商品一覧" , items_path , class: "btn btn-default" %>
        </div>
        <div class="col-2">
          <%= link_to "新規登録" , new_admin_admin_registration_path , class: "btn btn-default" %>
        </div>
        <div class="col-2">
          <%= link_to "ログイン" , new_admin_admin_session_path , class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</header>